.DS_Store
inst/python/deepcpf1/deepcpf1/deepcpf1.pyc
inst/python//deepcpf1/old/
__pycache__
*.pyc
vignettes/crisprScore.html
inst/crisprai/temp_data
inst/crisprai/test_data_crispra/crispra_sgrna_example.txt
inst/crisprai/test_data_crispra/crispra_tss_example.txt
inst/crisprai/test_data_crispri/crispri_sgrna_example.txt
inst/crisprai/test_data_crispri/crispri_tss_example.txt